body {
  margin: 0;
  padding: 0;
  font: 14px/1.4 -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: darkslategray;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  background-color: #f2f4f7;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

a {
  color: #0e73a7;
  text-decoration: none;
}

a:hover {
  color: #1193d4;
}

button,
input,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.4;
  color: inherit;
  outline: 0;
  background: transparent;
}

.Layout,
.Loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Loading {
  font-size: 16px;
  opacity: 0.8;
}

.Form {
  width: 400px;
  max-width: 100%;
}

.Input {
  margin: 0 3px;
  border-radius: 4px;
  padding: 6px 8px;
  border: solid 1px #0e73a7;
  background: #fff;
}

.Btn {
  font: 14px/1.4 Verdana;
  padding: 6px 18px;
  position: absolute;
  color: #0e73a7;
  border: solid 1px currentColor;
  border-radius: 4px;
  cursor: pointer;
}

.Btn[disabled] {
  opacity: 0.7;
  cursor: auto;
}

.BtnLogout {
  position: absolute;
  top: 24px;
  right: 24px;
}

.BtnLogon {
  margin: 0 3px;
  color: #fff;
  background: #0e73a7;
  border-color: #0e73a7;
}
